/* Title */

.title {
    font-family: var(--font-family-heading);
    font-weight: 400;

    margin: 0;

    text-transform: uppercase;
}

@media (max-width: 767px) {
    .title {
        font-size: 36px;
        line-height: 40px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 54px;
        line-height: 65px;
    }
}
